		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		style('text/css').
			body{
				background-image: url("https://assets.awwwards.com/awards/submissions/2017/02/589b852356958.jpg");
			}